body{
    color: rgb(0, 255, 13);
    background-color: rgb(218, 239, 162);
}

.heading{
    width: 80%;
    font-size: 22px;
}

#camera{
    border: 2px dashed rgb(0, 221, 255);
    width: 350px;
    height: 350px;
}

.name_of_objects,#result_object_name,#result_accuracy{
    color: rgb(58, 252, 10);
}
